.titulo-popular {
    
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #eee;
}

.detalle {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    background-color: #5e17eb;
    padding: 20px;
    max-width: 300px;
    border-radius: 20px;
    max-height: fit-content;
    align-items: center;
    color: #eee;
}

.detalle img {
    max-width: 260px;
    border-radius: 15px;

}



.boton-ver {
    color: #eee;
    background-color: #5e17eb;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    border-style: none;
}

.extra{
    color: #eee;
    background-color: #5e17eb;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    border-style: none;
}



